

/*GENERAL*************************************/
.wrap{
	width: 90%;
	margin: 0 auto;
}



/*NAV*************************************/
.navbar-bg{
	background-color: white;
}
.navbar-bg ul li a{
	background-color: white;
}
.top-bar #title strong a{
	font-family: 'Nunito', sans-serif;
	color: rgba(255,255,255,0.1);
}



/*MAIN SECTION*************************************/

#heading{
	padding: 20px 0;
}

#main{
	background-image: url("../images/dark_embroidery.png");
}

#main h1,p{
	color: rgba(255,255,255,0.9);
	margin:auto auto;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
}

#left{
	background-color: rgb(57,196,142);
	color: rgba(255,255,255,0.9);
	text-align: center;
	display:flex;
  	align-items: center;
  	justify-content:center;
}

#right{
	background-color: rgb(54,97,162);
	color: rgba(255,255,255,0.9);
	padding-top: 30px;
}

.row{
	margin-top: 100px;
	max-width:100%;
}

/*FOOTER*************************************/
